* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-image: linear-gradient(to left, green, black);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.navbar-list {
    padding-top: 2vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background-color: none;
}

.navbar-list ul {
    display: flex;
    list-style: none;
    padding: 0vh 10vh;
}

.navbar-list ul li {
    margin: 0 10vh;
    font-size: 3vh;
}

.navbar-list ul li a{
    color: aliceblue;
    text-decoration: none;
}

.navbar-list .verde a{
    color: greenyellow;
}

.navbar-list i{
    margin-top: -1vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-list i p{
    margin: 0;
    margin-left: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
}

.navbar-list i, .icon {
    color: #eee;
    font-size: 5vh;
    margin-left: 5vh;
    transition: transform 0.3s;
}

.navbar-list i:hover {
    transform: scale(1.2);
}

.presentacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.conteiner-one {
    text-align: center;
}

.conteiner-one button {
    background-color: rgb(18, 209, 18);
    height: 8vh;
    width: 15vw;
    border: none;
    border-radius: 1vh;
    color: #eee;
    font-weight: bolder;
    font-size: 2.8vh;
    margin-top: 5vh;
    cursor: pointer;
    transition: all 0.3s;
}

.conteiner-one button:hover{
    transform: scale(1.1);
}


.container-card-section {
    display: flex;
    justify-content: center;
}

.cards {
    padding: 3vh;
    border-radius: 2vh;
    border-color: #fff;
    margin: 5vh;
}

.container-proyectos h3 {
    font-size: 5vh;
    margin-bottom: 5vh;
}

.container-proyectos button {
    background-color: rgb(18, 209, 18);
    height: 8vh;
    width: 15vw;
    border: none;
    border-radius: 1vh;
    color: #eee;
    font-weight: bolder;
    font-size: 2.8vh;
    margin-top: 5vh;
    cursor: pointer;
    transition: all 0.3s;
}

.container-proyectos button:hover{
    transform: scale(1.1);
}

.mail div a{
    color: rgb(1, 241, 1);
}

.footer-container {
    background-color: black;
}

.footer-nav li {
    margin: 5vh;
    text-align: center;
}

.footer-nav li a i {
    font-size: 5vh;
    margin-right: 2vh;
}

.footer-nav,.bi {
    color: #fff;
}

/*// --------------------------------------------------- //*/

*{
    font-family: 'Nunito', sans-serif;
}

.presentacion{
    height: 110vh;
    color: #ccc;
}

.presentacion h2{
    font-size: 5vh;
    font-weight: bolder;
    color: #ccc;
}

.presentacion h1{
    font-size: 10vh;
    color: greenyellow ;
}

.conteiner-one{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
}

.conteiner-one h3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8vh;
    border-bottom: 0.5vh solid greenyellow;
    margin-bottom: 5vh;
    color: #ccc;
}

.conteiner-one p{
    font-size: 3vh;
    color: #ccc;
}

.lenguajes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ccc;
}

.lenguajes h3{
    font-size: 8vh;
    border-bottom: 0.5vh solid greenyellow;
}

.icon-lenguajes{
    margin-top: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconlenguaje{
    border-bottom: 0.8vh solid greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2vh;
    width: 15vw;
    height: 35vh;
    background-color: #ccc;
    transition: all 0.3s;
}

.iconlenguaje:hover{
    transform: scale(1.1);
}

.icon-lenguajes div i{
    font-size: 13vw;
    padding: 5vh 2vh;
    color: #ccc;
    filter: invert(1);
}

.section-container-cards{
    color: #ccc;
    height: 110vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.section-container-cards h3{
    padding-bottom: 1vh;
    border-bottom: 0.5vh solid greenyellow;
    font-family: 'Nunito', sans-serif;
}

.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    border-radius: 1vh;
    border: 0.5vh solid #ccc;
    color: #ccc;
    text-align: left;
    transition: all 0.3s;
}

.cards:hover{
    color: #222;
    background-color: #ccc;
}

.proyector-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ccc;

}
.proyector-img h3{
    border-bottom: 0.5vh solid greenyellow;
    font-family: 'Nunito', sans-serif;
}

.imagenes-arriba img {
    height: 35vh;
    margin-bottom: 1vh;
}

.imagenes-abajo img {
    height: 32.3vh;
}

.mail{
    margin-top: 10vh;
    margin-bottom: 10vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    color: #ccc;
}

.mail h3{
    font-size: 8vh;
}

.form{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 4vh;
}

.form div input, .form div textarea{
    padding: 1vh;
    background-color: transparent;
    color: #ccc;
    border: none;
    border-bottom: 0.5vh solid greenyellow;
    transition: all 0.3s;
    border-radius: 1vh;
}

.form div input:hover, .form div textarea:hover{

    background-color: rgb(34, 34, 34, 0.8);
}

.sendBTN{
    margin-top: 5vh;
    color: #ccc;
    border-radius: 1vh;
    font-size: 3.5vh;
    padding: 1vh 5vh;
    background-color: rgb(18, 209, 18);
    transition: all 0.3s;
}

.sendBTN:hover{
    transform: scale(1.1);
}

.fEmail *{
    font-size: 3vh;
    width: 30vw;
}

.fTitle *{
    font-size: 3vh;
    width: 30vw;
}

.formTitle {
    font-size: 4vh;
}

.fTA textarea{
    width: 30vw;
    height: 25vh;
    font-size: 3vh;
}


.email{
    text-decoration: underline;
}

.footer-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-nav *{
    color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3vh;
    margin: 0;
    padding: 0;
    margin-left: 1vh;
}

.liItemNavBar, .liItemNavBar a{
    transition: all 0.3s;
}

.liItemNavBar:hover{
    transform: scale(1.1);
}

.liItemNavBar a:hover{
    border-bottom: 0.5vh solid greenyellow;
}

.navbar-list{
    margin-top: 2vh;
}

.seemorebtn:link{
    color: #ccc;
}

.seemorebtn:visited{
    color: #ccc;
}

.responsivenav {display: none;}

@media all and (min-width:0px) and (max-width: 720px)
{

    .navbar-list {
        margin: 0;
        padding: 0;
        background-color: #222;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        scroll-behavior: smooth;
    }

/*// --------------------------------------------------- //*/

.navbar-list{
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-list ul{
    padding: 0;
    margin-right: 2vh;
}

.navbar-list ul li{
    margin: 0;
}

.liItemNavBar{
    display: none;
}

.verde{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
}

.ulNavBar{
    margin-top: 2vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.container{
    margin: 0;
    padding: 1vh;
}

.presentacion{
    margin: 0;
    padding: 0;
    height: 75vh;
    margin-bottom: 10vh;
}

.presentacion h2{
    font-size: 4vh;
    margin-bottom: 5vh;
}

.presentacion h1{
    font-size: 7vh;
}

.conteiner-one{
    height: 85vh;
    margin-bottom: 15vh;
}

.conteiner-one button{
    width: 50vw;
}

.icon-lenguajes div i{
    font-size: 15vh;
}

.icon-lenguajes{
    display: flex;
    flex-wrap: wrap;
}

.iconlenguaje{
    width: 35vw;
    height: 20vh;
}

.container-card-section{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 100vw;
    margin-top: 5vh;

}

.cards{
    margin: 0;
    margin: 1vh;
    width: 45vw;
    height: 25vh;
}

.cards p{
    display: none;
}

.imagenes-abajo, .imagenes-arriba{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.imagenes-abajo img, .imagenes-arriba img{
    margin: 1vh;
    width: 80vw;
    height: 40vh;
}

.proyector-img button{
    width: 50vw;
}

.mail{
    margin: 0;
    margin-top: 15vh;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: auto;
}

.mail h3{
    font-size: 5vh;
}

.email{
    font-size: 5vh;

}

.form{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form *{
    width: auto;
}

.fEmail *{
    width: auto;
}

.fEmail div{
    font-size: 4vh;
}

.fEmail input{
    font-size: 3vh;
}

.fEmail input, .fTitle input{
    width: 90vw;
}

.fTitle div{
    font-size: 4vh;
}

.fTitle input{
    font-size: 3vh;
}

.fTA div{
    font-size: 4vh;
}

.fTA textarea{
    font-size: 3vh;
    width: 90vw;
    height: 25vh;
}

.sendBTN{
    margin-top: 5vh;
}

.footer-container .container-logo{
    display: none;
}

.footer-nav ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.footer-nav ul li{
    margin: 0;
    margin: 2vh 0;
}

}

.difuminador{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgb(34, 34, 34, 0.9);
    width: 100vw;
    top: 0;
    height: 100vh;
}
